* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container{
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
  align-content:flex-end;
  background: burlywood;
  height: 640px;
  /* width: 960px; */
}

.flex-item{
  width: 33.33%;
  background: cadetblue;
  /* margin: 10px; */
}

/* .flex-item:nth-child(3){
  font-size: 40px;
} */